<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
		<title>{{ head.title }}</title>
		<meta name="author" content="{{ head.author }}">
		<meta name="description" content="{{ head.description }}">
		<link rel="stylesheet" href="style.css">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css" integrity="sha384-R4558gYOUz8mP9YWpZJjofhk+zx0AS11p36HnD2ZKj/6JR5z27gSSULCNHIRReVs" crossorigin="anonymous">
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.js" integrity="sha384-z1fJDqw8ZApjGO3/unPWUPsIymfsJmyrDVWC8Tv/a1HeOtGmkwNd/7xUS0Xcnvsx" crossorigin="anonymous"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>
	</head>

	<body>
        <span class="strip" id="st1"></span>
        <span class="strip" id="st2"></span>
        <span class="strip" id="st3"></span>
        <span class="strip" id="st4"></span>
        <span class="strip" id="sht"></span>
        <span class="strip" id="shb"></span>
        <span class="strip" id="sl1"></span>
        <span class="strip" id="sl2"></span>
        <span class="strip" id="sl3"></span>
        <span class="strip" id="sl4"></span>
        <span class="strip" id="sr"></span>

            <header>
                <nav class="row">
                    <span>
                    {% if prev_url %}
                    <a href="{{ prev_url }}" id="prev">ᐸ</a>
                    {% endif %}
                </span>
                <span>
                    {% block header %}
                    {% endblock header %}
                </span>
                <span>
                    {% if next_url %}
                    <a href="{{ next_url }}" id="next">ᐳ</a>
                    {% endif %}
                </span>
            </nav>
        </header>


        {% block main %}
        {% endblock main %}

        {% block footer %}
        <footer class="row">
            <span>
            </span>
            <span>
                {{ head.author }},
                {{ head.date }}
                &mdash; p. {{ index }}/{{ total }}
            </span>
        </footer>
        {% endblock footer %}
		<script src="script.js"></script>
	</body>

</html>

