:root {
  --vmargin: 3vh;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans[wdth,wght].woff2') format('woff2 supports variations');
  src: url('OpenSans[wdth,wght].woff2') format('woff2-variations');
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Italic[wdth,wght].woff2') format('woff2 supports variations');
  src: url('OpenSans-Italic[wdth,wght].woff2') format('woff2-variations');
  font-style: italic;
}

body {
  width: 100vw;
  height: calc(100vh - 2 * var(--vmargin));
  margin: var(--vmargin) 0;

  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: var(--vmargin);

  font-family: 'OpenSans';
  letter-spacing: 0.3px;
  /* font-size: x-large; */
  font-size: calc(1em + 0.5vw);
}

.row {
  width: 95%;
  margin: auto;

  display: flex;
  justify-content: space-between;
  gap: 2.5%;

  text-align: center;
}

footer {
  /* font-size: large; */
}

.main-title {
  width: 80%;
  margin: auto;
  gap: var(--vmargin);
}

.main-body {
  height: 100%;
  width: 90%;
  margin: auto;
}

.logos {
  height: 10vh;
  margin-bottom: 5rem;
}

.title {
  margin: auto;
}

a {
  text-decoration: none;
}

h2 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  margin: 1rem 0;
  padding-left: 1rem;
}

/* ul > :first-child { */
/*   color: blue; */
/* } */

.center {
  margin: auto;
}

.grid {
  display: grid;
  gap: 5%;
  align-items: center;
  justify-items: center;
  height:100%;
}

.fill {
  width: 100%;
  height: 100%;
}

.two-columns {
  grid-template-columns: repeat(2, 1fr);
}

.three-columns {
  grid-template-columns: repeat(3, 1fr);
}

.lrr {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.lrr> :first-child {
  grid-row-end: span 2;
}

.lrR {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.lrR> :first-child {
  grid-row-end: span 3;
}

.lrR> :nth-child(3) {
  grid-row-end: span 2;
}

.lRr {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.lRr> :first-child {
  grid-row-end: span 3;
}

.lRr> :nth-child(2) {
  grid-row-end: span 2;
}

.image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.red {
  color: red;
}

{% for logo in logos %}
#logo{{ loop.index }} {
  background-image: url("{{ logo }}");
}
{% endfor %}


.strip {
  position: absolute;
  background-color: black;
}

#sl1 {
  background: linear-gradient(0deg, black 0%, #b26680 100%);
  top: 67%;
  height: 28%;
  width: 2px;
}
#sl2 {
  background: linear-gradient(0deg, #3f3f3f 0%, #b26680 100%);
  top: 45%;
  height: 22%;
  width: 8px;
}
#sl3 {
  background: linear-gradient(0deg, #cc5999 0%, #4c4c4c 50%, #cc5999 100%);
  top: 0px;
  height: 45%;
  width: 16px;
}
#sl4 {
  background: linear-gradient(0deg, #b26680 0%, rgba(63,63,63,1) 50%, #b26680 100%);
  top: 0px;
  left:16px;
  height: 35%;
  width: 16px;
}

#st1 {
  background: linear-gradient(90deg, #3f3f3f 0%, #b26680 100%);
  top: 0px;
  left:0px;
  width:400px;
  height:6px;
}
#st2 {
  background: #b26680;
  top: 0px;
  left:32px;
  width:80px;
  height:8px;
}
#st3 {
  background: linear-gradient(0deg, #b26680 0%, #3f3f3f 50%, #b26680 100%);
  top: 8px;
  left:32px;
  width:80px;
  height:16px;
}
#st4 {
  background: linear-gradient(0deg, #b26680 0%, #3f3f3f 50%, #b26680 100%);
  background-color: black;
  top: 0px;
  left:112px;
  width:120px;
  height:12px;
}
#sht {
  background: linear-gradient(90deg, black 0%, #b26680 50%, black 100%);
  top: 64px;
  left:232px;
  width:calc(100% - 280px);
  height:1px;
}
#shb {
  background: linear-gradient(90deg, black 0%, #b26680 50%, black 100%);
  top: 97%;
  left: 43%;
  width:calc(57% - 288px);
  height:1px;
}

#sr {
  background: linear-gradient(0deg, black 0%, #b26680 50%, black 100%);
  top: 58%;
  right: 24px;
  width: 1px;
  height: 39%;
}


.title {
  position: absolute;
  left: 232px;
  width: calc(100% - 300px);
  top: 20px;
  text-align: right;
}
footer {
  font-size: 14px;
}
.content {
  height: 100%;
}

svg.display {
  height: 1em;
  width: auto;
}

svg.inline {
  height: 1em;
  width: auto;
}

.reference {
  font-size: calc(0.3*(1em + 0.5vw));
  color: #3366f2;
}
