{% extends "base.html.jinja2" %}

{% block header %}
{% endblock header %}

{% block main %}
<main class="main-title">
	<div class="row logos">
		{% for logo in head.logos %}
		<span class="image" id="logo{{ loop.index }}"></span>
		{% endfor %}
	</div>
	<h1>{{ head.title }}</h1>
	<h2>{{ head.description  }}</h2>
	<h3>{{ head.author }}</h3>
	<p>{{ head.affiliation }}</p>
	<p>{{ head.notes }}</p>
	<p>{{ head.date }}</p>
</main>
{% endblock main %}

{% block footer %}
<footer class="row">
	<span>
		<a href="{{ head.source }}">Source</a>
	</span>
	<span>
		<a href="{{ head.licence_link }}">{{ head.licence }}</a>
	</span>
</footer>
{% endblock footer %}
